@model CoreCooking.Website.ViewModels.Recipes.RecipeViewModel
@using CoreCooking.Website.Helpers

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="@UrlBuilder.GetUrl(Model.Hashtag)">@(Model.Hashtag)</a></li>
    <li class="breadcrumb-item">@(Model.Name)</li>
</ol>

@if (User.Identity.IsAuthenticated)
{
    <div class="container hashtag">
        <div class="btn-group float-right" role="group">
            <a class="btn btn-sm btn-wide btn-outline-primary" href="@UrlBuilder.GetUrl(Model.Hashtag, "AddRecipe")">Add Recipe</a>
            <a class="btn btn-sm btn-wide btn-outline-primary" href="@UrlBuilder.GetUrl(Model, "Edit")">Edit Recipe</a>
        </div>
    </div>
    }

<p>
    <h1 class="recipe">@(Model.Name)</h1>
</p>

<p>
    <h5>
        @foreach (var hashtag in Model.Hashtags)
        {
            <a href="@UrlBuilder.GetUrl(hashtag)">#@hashtag</a><span>&nbsp;</span>
        }
    </h5>
</p>



<div class="card-group">

    @if (Model.ImageUrl != null || Model.Serves != null || Model.Notes != null)
    {
        <div class="card">
            @if (Model.ImageUrl != null)
            {
                <img class="card-img-top img-thumbnail" src="@Url.Content(Model.ImageUrl)">
            }
            <ul class="list-group">

                @if (Model.Serves != null)
                {
                    <li class="list-group-item">
                        <h5>Serves: @(Model.Serves)</h5>
                    </li>
                }

                @if (!String.IsNullOrEmpty(Model.Notes))
                {
                    <li class="list-group-item">
                        <div class="row">
                            <h5 class="card-title col-12">Notes</h5>
                            <p class="col-12">@Html.Raw(@Model.Notes.ToHtml())</p>
                        </div>
                    </li>
                }
            </ul>

        </div>


    }
    <!-- Ingredients -->
    <div class="card">
        <div class="card-block">
            <h5 class="card-title text-center">Ingredients</h5>
            <div class="card-body">
                <div class="list-group list-group-flush">
                    @foreach (var item in Model.Ingredients)
                    {
                        <div class=" list-group-item">
                            <div class="row">
                                <div class="col-3">
                                    <span class="float-right" style="white-space: nowrap;">@(item.DisplayQuantityAndUom)</span>
                                </div>
                                <div class="col-9">
                                    @(item.Name)
                                    @if (item.Directions != null)
                                    {
                                        <span> - @(item.Directions)</span>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Steps -->
    <div class="card">
        <div class="card-block">
            <h5 class="card-title text-center">Steps</h5>
            <div class="card-body">
                <div class="list-group list-group-flush">
                    @foreach (var item in Model.Steps)
                    {
                        @if (!String.IsNullOrEmpty(item))
                        {
                            <div class="list-group-item">
                                @(item)
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>



</div>
