@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Joel's Cookbook</title>

    <base href="/">

    <!-- Font Awesome-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <!-- TODO: Default to online then backup to local? -->
    <!-- Boostrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"> -->

    <link rel="stylesheet" href="~/css/site.css" />

    <!--
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    -->

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>

<body style="padding-top: 50px;">
    <nav class="navbar fixed-top navbar-dark bg-dark">

        <div class="container d-flex justify-content-between">

            <a class="navbar-brand" href="#">Joel's Cookbook</a>

            <div class="navbar-nav">
                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="nav-item nav-link" href="/Accounts/Login?returnUrl=@System.Net.WebUtility.HtmlDecode(@Context.Request.Path + Context.Request.QueryString )">Login</a>
                }
                else
                {
                    <a class="nav-item nav-link" href="/Accounts/Logout?returnUrl=@System.Net.WebUtility.HtmlDecode(@Context.Request.Path + Context.Request.QueryString)">Logout</a>
                }
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <!-- Bootstrap 4 -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous">

    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.js"
            asp-fallback-test="window.jQuery">
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
