@model CoreCooking.Website.ViewModels.Categories.CategoryViewModel
@using CoreCooking.Website.Helpers

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    @if (Model.IsNew())
    {
        <li>Add Category</li>
    }
    else
    {
        <li><a href="@UrlBuilder.GetUrl(Model)">@(Model.Name)</a></li>
        <li>Edit</li>
    }
</ol>

<form asp-controller="Categories" asp-action="Edit" method="post">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            @if (!Model.IsNew())
            {
                <div class="navbar-nav navbar-left">
                    <a href="@UrlBuilder.GetUrl(Model, "Delete")" class="btn btn-default navbar-btn btn-sm">Delete</a>
                </div>
            }
            <div class="navbar-nav navbar-right">
                <input type="submit" value="Save" class="btn btn-default btn-sm" />
                @if (Model.IsNew())
                {
                    <a href="/" class="btn btn-default navbar-btn btn-sm">Cancel</a>
                }
                else
                {
                    <a href="@UrlBuilder.GetUrl(Model)" class="btn btn-default navbar-btn btn-sm">Cancel</a>
                }
            </div>
        </div>
    </nav>

    <h1>@(Model.Name)</h1>

    <input asp-for="Guid"type="hidden">

    <div class="row">
        <div class="col-md-6">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <input asp-for="Name" class="form-control" />
        </div>
    </div>
</form>
